

.header-container {

    color: ghostwhite;
    /* background-color: rgba(0, 71, 153, 0.692); */
    display: flex;
    justify-content: center;
    background-image: url(../images/coding-background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* overflow: none; */

}

.header {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.download {
    margin-left: 30px;
    overflow: none;
}

.social {
    margin-right: 30px;
    overflow: none;
}

.profile-img {

    height: 190px;
    width: 190px;
    border-radius: 50%;
    border: solid 7px ghostwhite;
    box-shadow: 0 0 14px ghostwhite;
}

.bg-black {
    background-color: black;
}

.block-div {

    width: 25%;
}


.social-icons {
    padding: 2px;
    color: ghostwhite;

}


