

.header-container {

    color: ghostwhite;
    /* background-color: rgba(0, 71, 153, 0.692); */
    display: flex;
    justify-content: center;
    background-image: url(../images/coding-background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* overflow: none; */

}

.header {
    width: 900px;
    height: 260px;
    display: flex;
    justify-content: space-between;
    
}


.social {

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: none;
}

.profile-img {

    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: solid 7px ghostwhite;
    box-shadow: 0 0 14px ghostwhite;
}

.bg-black {
    background-color: black;
}

.block-div {

    width: 25%;
}


.social-icons {
    padding: 15px;
    color: ghostwhite;

}


/* Home Content */
#home {
    background-color: rgba(0, 173, 204, 0.932)!important;
}

#home:hover {
    cursor: pointer;
}

#homedrop {
    background-color: rgba(0, 173, 204, 0.932)!important;
}

/* Resume Content */
#resume {
    background-color: rgba(12, 116, 134, 0.932)!important;
}

#resume:hover {
    cursor: pointer;
}

#resumedrop {
    background-color: rgba(12, 116, 134, 0.932)!important;
}

/* Work Content */
#work {
    background-color: rgba(1, 69, 109, 0.932)!important;
}

#work:hover {
    cursor: pointer;
}

#workdrop {
    background-color: rgba(1, 69, 109, 0.932)!important;
    
}

/* Contact Content */
#contact {
    background-color: rgba(1, 44, 100, 0.932)!important;
}

#contact:hover {
    cursor: pointer;
}

#contactdrop {
    background-color: rgba(1, 44, 100, 0.932)!important;
}



/* ///////// Footer ///////// */




/* ///////// Responsive Media Queries ///////// */

@media only screen and (max-width: 575px) {
    /* body {
      background-color: lightblue;
    } */

    .name-logo {
        font-size: 22px!important;
    }

    .role {
        font-size: 12px!important;
        padding-left: 45px!important;

    }

    .profile-img {

        height: 80px;
        width: 80px;
        border-radius: 50%;
        border: solid 7px ghostwhite;
        box-shadow: 0 0 14px ghostwhite;
    }

    .header {
        width: 100%;
        height: 180px;
        display: flex;
        justify-content: space-around;
        
    }
  }